@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
@import url("https://fonts.googleapis.com/css?family=Rammetto+One");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
/* line 6, C:/Project/myproject/scss/main.scss */
#section1 {
  width: 100%;
  background-image: url(../images/robin-stickel-82145.jpg);
  background-size: cover;
  height: 100vh;
}

/* line 14, C:/Project/myproject/scss/main.scss */
#section1 .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

/* line 22, C:/Project/myproject/scss/main.scss */
#section1 .overlay #myNavbar {
  background-color: transparent;
  font-weight: bolder;
  border: none;
  padding: 10px;
  font-family: Roboto;
  font-size: 17px;
  text-transform: uppercase;
}

/* line 36, C:/Project/myproject/scss/main.scss */
#section1 .overlay #myNavbar .container .navbar-header #logo {
  color: white;
  font-family: Rammetto One;
  text-decoration: none;
  font-size: 40px;
}

/* line 48, C:/Project/myproject/scss/main.scss */
#section1 .overlay #myNavbar .container .navbar-collapse ul li {
  padding: 5px 8px;
  color: aliceblue;
}

/* line 52, C:/Project/myproject/scss/main.scss */
#section1 .overlay #myNavbar .container .navbar-collapse ul li a {
  color: aliceblue;
}

/* line 56, C:/Project/myproject/scss/main.scss */
#section1 .overlay #myNavbar .container .navbar-collapse ul li :hover {
  border-bottom-color: white;
  border-top-color: white;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-bottom-style: solid;
  border-top-style: solid;
  transition: .5s all ease-in-out;
}

/* line 71, C:/Project/myproject/scss/main.scss */
#section1 .overlay :hover {
  color: white;
}

@media only screen and (max-width: 786px) {
  /* line 78, C:/Project/myproject/scss/main.scss */
  #section1 .overlay .navbar-collapse {
    position: relative;
    top: 100%;
    right: 0%;
    clip-path: circle(0px at top right);
    background-color: #4286f4;
    transition: all 800ms ease-in-out;
    width: 100%;
    border: none;
    color: white;
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 5px;
    height: auto;
  }
  /* line 95, C:/Project/myproject/scss/main.scss */
  #section1 .overlay .collapse {
    clip-path: circle(150% at top right);
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.5);
  }
  /* line 101, C:/Project/myproject/scss/main.scss */
  #section1 .overlay #logo {
    width: 50%;
  }
}

/* line 107, C:/Project/myproject/scss/main.scss */
#section1 .overlay .box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
}

/* line 116, C:/Project/myproject/scss/main.scss */
#section1 .overlay .box .row {
  width: 100%;
}

/* line 123, C:/Project/myproject/scss/main.scss */
#section1 .overlay .box .row .col-md-12 h1 {
  color: white;
  font-family: Roboto;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* line 131, C:/Project/myproject/scss/main.scss */
#section1 .overlay .box .row .col-md-12 h1 span {
  color: #4286f4;
  font-family: Rammetto One;
}

/* line 138, C:/Project/myproject/scss/main.scss */
#section1 .overlay .box .row .col-md-12 p {
  color: white;
  font-family: Roboto;
  font-size: 30px;
  margin-bottom: 40px;
}

/* line 146, C:/Project/myproject/scss/main.scss */
#section1 .overlay .box .row .col-md-12 a {
  display: block;
  width: 220px;
  height: 50px;
  border: 2px solid white;
  text-decoration: none;
  line-height: 50px;
  cursor: pointer;
  color: white;
  text-align: center;
  margin: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: Roboto;
}

/* line 163, C:/Project/myproject/scss/main.scss */
#section1 .overlay .box .row .col-md-12 a:hover {
  background-color: #4286f4;
  border: none;
}

/* line 177, C:/Project/myproject/scss/main.scss */
#section2 {
  width: 100%;
  background-color: white;
  position: relative;
}

/* line 183, C:/Project/myproject/scss/main.scss */
#section2 .sec2box {
  width: 100%;
}

/* line 190, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .header #header {
  color: #4286f4;
  font-family: Roboto Condensed;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
}

/* line 201, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content {
  margin-top: 70px;
  margin-bottom: 60px;
  border: none;
}

/* line 207, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content ul li a {
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
}

/* line 214, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content ul {
  border: none;
}

/* line 227, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #home .row .col-lg-6 img {
  padding: 50px;
}

/* line 232, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #home .row .col-lg-6 p {
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

/* line 249, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu1 .row .col-lg-6 img {
  padding: 50px;
}

/* line 253, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu1 .row .col-lg-6 #accordion {
  margin-top: 50px;
}

/* line 257, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu1 .row .col-lg-6 #accordion .panel-heading {
  background-color: #4286f4;
}

/* line 262, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu1 .row .col-lg-6 #accordion .panel-title {
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  background-color: #4286f4;
  color: white;
}

/* line 271, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu1 .row .col-lg-6 #accordion a {
  text-decoration: none;
}

/* line 287, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu2 .row .col-lg-6 img {
  padding: 40px;
}

/* line 292, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu2 .row .col-lg-6 h2 {
  padding-top: 80px;
  font-family: cursive;
  margin-bottom: 20px;
}

/* line 299, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu2 .row .col-lg-6 #desc {
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
}

/* line 315, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu3 .row .col-lg-6 img {
  padding: 40px;
}

/* line 320, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu3 .row .col-lg-6 h3 {
  font-family: cursive;
  text-align: center;
  padding-top: 90px;
}

/* line 327, C:/Project/myproject/scss/main.scss */
#section2 .sec2box .about-content .tab-content #menu3 .row .col-lg-6 p {
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
}

/* line 341, C:/Project/myproject/scss/main.scss */
#section2:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100px;
  background: white;
  top: -98px;
  left: 0;
  transform: skewY(-3.1deg);
}

/* line 353, C:/Project/myproject/scss/main.scss */
#section3 {
  background-color: gainsboro;
  width: 100%;
}

/* line 358, C:/Project/myproject/scss/main.scss */
#section3 .sec3box {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

/* line 363, C:/Project/myproject/scss/main.scss */
#section3 .sec3box h1 {
  color: #4286f4;
  font-family: Roboto Condensed;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
}

/* line 373, C:/Project/myproject/scss/main.scss */
#section3 .sec3box #first-row {
  margin-top: 60px;
}

/* line 378, C:/Project/myproject/scss/main.scss */
#section3 .sec3box .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 384, C:/Project/myproject/scss/main.scss */
#section3 .sec3box .row .col-lg-4 .fold {
  width: 100%;
  background-color: white;
  position: relative;
  margin: 0px;
  transition: .5s all ease-in-out;
}

/* line 393, C:/Project/myproject/scss/main.scss */
#section3 .sec3box .row .col-lg-4 .fold .fa {
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #4286f4;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

/* line 406, C:/Project/myproject/scss/main.scss */
#section3 .sec3box .row .col-lg-4 .fold h4 {
  text-align: center;
  color: #4286f4;
  font-family: Roboto;
  font-weight: bold;
  font-size: 25px;
  padding-top: 30px;
}

/* line 416, C:/Project/myproject/scss/main.scss */
#section3 .sec3box .row .col-lg-4 .fold p {
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  padding: 15px;
}

/* line 424, C:/Project/myproject/scss/main.scss */
#section3 .sec3box .row .col-lg-4 :before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid;
  border-color: gainsboro gainsboro #4286f4 #4286f4;
}

/* line 433, C:/Project/myproject/scss/main.scss */
#section3 .sec3box .row .col-lg-4 :hover {
  background-color: #4286f4;
  color: aliceblue;
  cursor: pointer;
}

/* line 439, C:/Project/myproject/scss/main.scss */
#section3 .sec3box .row .col-lg-4 :hover h4 {
  color: white;
  padding-top: -10px;
}

/* line 445, C:/Project/myproject/scss/main.scss */
#section3 .sec3box .row .col-lg-4 :hover p {
  top: -10px;
}

/* line 449, C:/Project/myproject/scss/main.scss */
#section3 .sec3box .row .col-lg-4 :hover .fa {
  background-color: white;
  color: #4286f4;
}

/* line 460, C:/Project/myproject/scss/main.scss */
#section4 {
  width: 100%;
  height: auto;
  position: relative;
}

/* line 465, C:/Project/myproject/scss/main.scss */
#section4 .sec4box {
  width: 100%;
  margin-bottom: 80px;
}

/* line 470, C:/Project/myproject/scss/main.scss */
#section4 .sec4box h1 {
  color: #4286f4;
  font-family: Roboto Condensed;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
}

/* line 479, C:/Project/myproject/scss/main.scss */
#section4 .sec4box .row {
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

/* line 487, C:/Project/myproject/scss/main.scss */
#section4 .sec4box .row .col-lg-3 .over {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 91%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(0);
  transition: .7s all ease-in-out;
}

/* line 502, C:/Project/myproject/scss/main.scss */
#section4 .sec4box .row .col-lg-3 .over .text {
  color: white;
  font-size: 20px;
  font-family: Roboto;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: .5s;
}

/* line 518, C:/Project/myproject/scss/main.scss */
#section4 .sec4box .row :hover .over {
  transform: scale(1);
}

/* line 526, C:/Project/myproject/scss/main.scss */
#section4:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 80px;
  background: white;
  top: -99px;
  left: 0;
  transform: skewY(3.3deg);
}

/* line 538, C:/Project/myproject/scss/main.scss */
#section5 {
  width: 100%;
  background-image: url(../images/lum3n-352940.jpg);
  background-size: cover;
}

/* line 545, C:/Project/myproject/scss/main.scss */
#section5 .overlay1 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/* line 554, C:/Project/myproject/scss/main.scss */
#section5 .overlay1 .sec5box h1 {
  color: #4286f4;
  font-family: Roboto Condensed;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 40px;
}

/* line 573, C:/Project/myproject/scss/main.scss */
#section5 .overlay1 .sec5box .special-box .row .col-lg-4 .img-box img {
  border-radius: 70%;
  width: 70%;
  border: 4px solid white;
}

/* line 579, C:/Project/myproject/scss/main.scss */
#section5 .overlay1 .sec5box .special-box .row .col-lg-4 .img-box :hover {
  cursor: pointer;
}

/* line 585, C:/Project/myproject/scss/main.scss */
#section5 .overlay1 .sec5box .special-box .row .col-lg-4 .details {
  padding: 10px;
}

/* line 588, C:/Project/myproject/scss/main.scss */
#section5 .overlay1 .sec5box .special-box .row .col-lg-4 .details h2 {
  color: #4286f4;
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

/* line 597, C:/Project/myproject/scss/main.scss */
#section5 .overlay1 .sec5box .special-box .row .col-lg-4 .details p {
  font-family: Roboto;
  font-size: 18px;
  color: white;
  text-align: center;
  margin-bottom: 60px;
}

/* line 615, C:/Project/myproject/scss/main.scss */
#section6 .sec6box {
  margin-bottom: 50px;
}

/* line 618, C:/Project/myproject/scss/main.scss */
#section6 .sec6box h1 {
  color: #4286f4;
  text-align: center;
  font-weight: bold;
  font-family: Roboto Condensed;
  padding-top: 50px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

/* line 629, C:/Project/myproject/scss/main.scss */
#section6 .sec6box .team-box {
  margin-bottom: 90px;
}

/* line 637, C:/Project/myproject/scss/main.scss */
#section6 .sec6box .team-box .row .col-lg-3 .info {
  position: absolute;
  width: 90%;
  height: 0%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: .5s all ease-in-out;
  margin: auto;
}

/* line 649, C:/Project/myproject/scss/main.scss */
#section6 .sec6box .team-box .row .col-lg-3 .info a {
  text-decoration: none;
  position: relative;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}

/* line 661, C:/Project/myproject/scss/main.scss */
#section6 .sec6box .team-box .row .col-lg-3 .info a li {
  list-style: none;
  display: inline-block;
}

/* line 666, C:/Project/myproject/scss/main.scss */
#section6 .sec6box .team-box .row .col-lg-3 .info a li i {
  width: 45px;
  height: 45px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  line-height: 45px;
}

/* line 680, C:/Project/myproject/scss/main.scss */
#section6 .sec6box .team-box .row .col-lg-3 .info :hover {
  transform: rotateZ(360deg);
  transition: 1s all ease-in-out;
}

/* line 687, C:/Project/myproject/scss/main.scss */
#section6 .sec6box .team-box .row :hover .info {
  height: 100%;
}

/* line 696, C:/Project/myproject/scss/main.scss */
#section7 {
  width: 100%;
  background-image: url(../images/brian-chan-12168.jpg);
  background-size: cover;
  background-position: center;
}

/* line 703, C:/Project/myproject/scss/main.scss */
#section7 .sec7box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* line 710, C:/Project/myproject/scss/main.scss */
#section7 .sec7box h1 {
  color: #4286f4;
  font-family: Roboto Condensed;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
}

/* line 720, C:/Project/myproject/scss/main.scss */
#section7 .sec7box .status-box {
  padding-top: 60px;
  padding-bottom: 80px;
}

/* line 730, C:/Project/myproject/scss/main.scss */
#section7 .sec7box .status-box .row .col-lg-3 .icon i {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

/* line 739, C:/Project/myproject/scss/main.scss */
#section7 .sec7box .status-box .row .col-lg-3 .numscroller {
  color: #4286f4;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  padding-bottom: 20px;
}

/* line 748, C:/Project/myproject/scss/main.scss */
#section7 .sec7box .status-box .row .col-lg-3 p {
  font-family: Roboto;
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: 600;
}

/* line 765, C:/Project/myproject/scss/main.scss */
#section8 h1 {
  text-align: center;
  color: #4286f4;
  font-weight: bold;
  font-family: Roboto Condensed;
  padding-top: 50px;
  padding-bottom: 40px;
}

/* line 775, C:/Project/myproject/scss/main.scss */
#section8 .row {
  width: 100%;
  margin-bottom: 90px;
  padding-bottom: 100px;
}

/* line 782, C:/Project/myproject/scss/main.scss */
#section8 .row #contact {
  background-image: url(../images/jakob-owens-169886.jpg);
  background-size: cover;
  height: 100%;
}

/* line 788, C:/Project/myproject/scss/main.scss */
#section8 .row #contact form {
  width: 70%;
  height: 100%;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 50px;
}

/* line 798, C:/Project/myproject/scss/main.scss */
#section8 .row #contact form .form-group label {
  color: white;
}

/* line 803, C:/Project/myproject/scss/main.scss */
#section8 .row #contact form .form-group #usr, #section8 .row #contact form .form-group #email, #section8 .row #contact form .form-group #comment {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  color: white;
}

/* line 811, C:/Project/myproject/scss/main.scss */
#section8 .row #contact form #submit {
  width: 100%;
  color: white;
  text-align: center;
  border-radius: 0px;
  font-weight: bold;
}

/* line 825, C:/Project/myproject/scss/main.scss */
#section9 {
  width: 100%;
  background-color: gainsboro;
  position: relative;
}

/* line 831, C:/Project/myproject/scss/main.scss */
#section9 .container {
  width: 100%;
  height: auto;
  background-color: #31313f;
  color: white;
}

/* line 839, C:/Project/myproject/scss/main.scss */
#section9 .container h1 {
  text-align: center;
  font-size: 20px;
}

/* line 847, C:/Project/myproject/scss/main.scss */
#section9 .container .row {
  width: 100%;
  background-color: transparent;
  margin: auto;
  padding-top: 20px;
}

/* line 858, C:/Project/myproject/scss/main.scss */
#section9 .container .row .col-md-4 h1 {
  font-weight: 600;
  font-family: Roboto;
  text-align: left;
  color: #4286f4;
  text-transform: uppercase;
  font-size: 23px;
}

/* line 875, C:/Project/myproject/scss/main.scss */
#section9 .container .row .col-md-12 h1 {
  text-align: center;
  font-weight: bold;
  color: #4286f4;
  font-family: Roboto;
  font-size: 24px;
  text-transform: uppercase;
}

/* line 885, C:/Project/myproject/scss/main.scss */
#section9 .container .row .col-md-12 ul {
  text-align: center;
}

/* line 888, C:/Project/myproject/scss/main.scss */
#section9 .container .row .col-md-12 ul li {
  list-style: none;
  display: inline-block;
  margin: 15px;
  color: white;
}

/* line 895, C:/Project/myproject/scss/main.scss */
#section9 .container .row .col-md-12 ul li a {
  color: white;
  text-decoration: none;
}

/* line 899, C:/Project/myproject/scss/main.scss */
#section9 .container .row .col-md-12 ul li a i {
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 1px solid white;
  font-size: 20px;
}

/* line 914, C:/Project/myproject/scss/main.scss */
#section9 .container .row .col-md-12 ul li :hover {
  transform: rotatez(360deg);
  transition: .5s all ease-in-out;
  color: skyblue;
}

/* line 929, C:/Project/myproject/scss/main.scss */
#section9 .container .copyright p {
  color: white;
  text-align: center;
  font-family: Roboto;
}

/* line 938, C:/Project/myproject/scss/main.scss */
#section9 #top {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4286f4;
  color: white;
  font-weight: bold;
  text-align: center;
  bottom: 5%;
  right: 5%;
  position: fixed;
  font-size: 18px;
  line-height: 50px;
}

/* line 957, C:/Project/myproject/scss/main.scss */
#section9:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 80px;
  background: #31313f;
  top: -39px;
  left: 0;
  transform: skewY(-3deg);
}

/*# sourceMappingURL=../css/main.map */