@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
@import url("https://fonts.googleapis.com/css?family=Rammetto+One");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");


#section1
{
    width: 100%;
    background-image: url(../images/robin-stickel-82145.jpg);
    background-size: cover;
    height: 100vh;
    
    
    .overlay
    {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
      
        
        #myNavbar
        {
            background-color: transparent;
            font-weight: bolder;
            border: none;
            padding: 10px;
            font-family: Roboto;
            font-size: 17px;
            text-transform: uppercase;
            
            .container
            {
                .navbar-header
                {
                    #logo
                    {
                        color: white;
                        font-family: Rammetto One;
                        text-decoration: none;
                        font-size: 40px;
                    }   
                }
                .navbar-collapse
                {
                    ul
                    {
                        li
                        {
                            padding: 5px 8px;
                            color: aliceblue;
                            a
                            {
                                color: aliceblue;
                            }
                             :hover
                            {
                                border-bottom-color: white;
                                border-top-color: white;
                                border-bottom-width: 2px;
                                border-top-width: 2px;
                                border-bottom-style:solid;
                                border-top-style:solid;
                                transition: .5s all ease-in-out;
                            }
                        }
                    }
                }
            }
        }
        :hover
        {
            color: white;
        }
        
        @media only screen and (max-width:786px)
{
     .navbar-collapse
    {
        position: relative;
        top: 100%;
        right: 0%;
        clip-path:circle(0px at top right);
        background-color:#4286f4;
        transition: all 800ms ease-in-out;
        width: 100%;
        border: none;
        color: white;
        box-shadow: 3px 4px 20px rgba(0,0,0,0.5);
        padding: 20px;
        margin: 5px;
        height: auto;
    }
    
     .collapse
    {
        clip-path:circle(150% at top right);
         box-shadow: 3px 4px 20px rgba(0,0,0,0.5);
    }
    
    #logo
    {
        width: 50%;
    }
}
        
        .box
        {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            margin: auto;
            
                .row
                {
                    width: 100%;
                    
                    .col-md-12
                    {
                        
                        h1
                        {
                            color: white;
                            font-family: Roboto;
                            font-size: 60px;
                            font-weight: 600;
                            margin-bottom: 10px;
                            
                            span 
                            {
                                color: #4286f4;
                                font-family: Rammetto One;;
                            }
                        }
                        
                        p
                        {
                            color: white;
                            font-family: Roboto;
                            font-size: 30px;
                            margin-bottom: 40px;
                        }
                        
                        a
                        {
                            display: block;
                            width: 220px;
                            height: 50px;
                            border: 2px solid white;
                            text-decoration: none;
                            line-height: 50px;
                            cursor: pointer;
                            color: white;
                            text-align: center;
                            margin: auto;
                            font-weight: bold;
                            letter-spacing: 1px;
                            font-size: 18px;
                            font-family: Roboto;
                        }
                        a:hover
                        {
                            background-color: #4286f4;
                            border: none;
                        }
                        
                    }
                }
            
        }
        
    }
}

#section2
{
    width: 100%;
    background-color: white;
    position: relative;
    
    .sec2box
    {
        width: 100%;
        
        .header
        {
            
            #header
            {
                color: #4286f4;
                font-family: Roboto Condensed;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                margin-top: 60px;
            }
        }
        
        .about-content
        {
            margin-top: 70px;
            margin-bottom: 60px;
            border: none;
            
            ul li a
            {
                font-family: Roboto;
                font-weight: 600;
                font-size: 18px;
            }
            
            ul
            {
                border: none;
            }
            .tab-content
            {
                
                #home
                {
                    .row
                    {
                        .col-lg-6
                        {
                            img
                                {
                                    padding: 50px;
                            }
                            
                            p {
                                font-family: Roboto;
                                font-size: 20px;
                                text-align: center;
                                margin-top: 50px;
                                padding: 30px;
                            }
                        }
                    }
                }
                
                #menu1
                {
                    .row
                    {
                        .col-lg-6
                        {
                            img {
                                padding: 50px;
                            }
                            
                            #accordion
                            {
                                margin-top: 50px;
                                
                                .panel-heading
                                {
                                    background-color: #4286f4;
                                }
                                
                                .panel-title
                                {
                                    text-align: center;
                                    font-weight: 600;
                                    text-decoration: none;
                                    background-color: #4286f4;
                                    color: white;
                                }
                                
                                a
                                {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                
                #menu2
                {
                    .row
                    {
                        .col-lg-6
                        {
                            
                            img
                            {
                                padding: 40px;
                            }
                            
                            h2
                            {
                                padding-top: 80px;
                                font-family: cursive;
                                margin-bottom: 20px;
                            }
                            
                            #desc
                            {
                                font-family: Roboto;
                                text-align: center;
                                font-size: 20px;
                            }
                        }
                    }
                }
                
                #menu3
                {
                    .row
                    {
                        .col-lg-6
                        {
                            img
                            {
                                padding: 40px;
                            }
                            
                            h3
                            {
                                font-family: cursive;
                                text-align: center;
                                padding-top: 90px;
                            }
                            
                            p
                            {
                                font-family: Roboto;
                                font-size: 20px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

#section2:before
{
    position:absolute;
    content: '';
    width: 100%;
    height: 100px;
    background: white;
    top: -98px;
    left: 0;
    transform: skewY(-3.1deg);
}

#section3
{
    background-color:gainsboro;
    width: 100%;
    
    .sec3box
    {
        width: 90%;
        margin: auto;
        margin-bottom: 100px;
        h1
        {
            color: #4286f4;
                font-family: Roboto Condensed;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                margin-top: 60px;
        }
        
        #first-row
        {
            margin-top: 60px;
        }
        
        .row
        {
            margin-top: 20px;
            margin-bottom: 20px;
            .col-lg-4
            {
                .fold
                {
                    
                    width: 100%;
                    background-color:white;
                    position: relative;
                    margin: 0px;
                    transition: .5s all ease-in-out;
                    
                    .fa
                    {
                        color: white;
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        background-color: #4286f4;
                        box-shadow: 2px 3px 4px rgba(0,0,0,0.6);
                        text-align: center;
                        font-size: 50px;
                        margin-top: 20px;
                    }
                    
                    h4
                    {
                        text-align: center;
                        color: #4286f4;
                        font-family: Roboto;
                        font-weight: bold;
                        font-size: 25px;
                        padding-top: 30px;
                    }
                    
                    p
                    {
                        font-family: Roboto;
                        font-size: 18px;
                        text-align: center;
                        padding: 15px;
                    }
                }
                :before
                {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: 20px solid;
                    border-color: gainsboro gainsboro #4286f4 #4286f4;
                }
                :hover
                {
                    background-color: #4286f4;
                    color: aliceblue;
                    cursor: pointer;
                    
                    h4
                    {
                        color: white;
                        padding-top: -10px;
                    }
                    
                    p
                    {
                        top: -10px;
                    }
                    .fa
                    {
                        background-color: white;
                        color: #4286f4;
                    }
                }
            }
        }
    }
}

#section4
{
    width: 100%;
    height: auto;
    position: relative;
    .sec4box
    {
        width: 100%;
        margin-bottom: 80px;
        
        h1
        {
            color: #4286f4;
                font-family: Roboto Condensed;
                font-weight: bold;
                text-align: center;
                text-transform: uppercase;
                margin-top: 60px;
        }
        .row
        {
            width: 100%;
            margin: auto;
            margin-top: 50px;
            .col-lg-3
            {
                 
                .over
                {
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 91%;
                    height: 100%;
                    overflow: hidden;
                    background-color: rgba(0,0,0,0.4);
                    transform: scale(0);
                    transition: .7s all ease-in-out;
                    
                    
                    .text
                    {
                        color: white;
                      font-size: 20px;
                        font-family: Roboto;
                        font-weight: bold;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      -ms-transform: translate(-50%, -50%);
                      text-align: center;
                      transition: .5s;
                    }
                }
            }
            :hover .over
            {
                transform: scale(1);
            }
        }
    }
}

#section4:before
{
    position:absolute;
    content: '';
    width: 100%;
    height: 80px;
    background: white;
    top: -99px;
    left: 0;
    transform: skewY(3.3deg);
}

#section5
{
    width: 100%;
    background-image: url(../images/lum3n-352940.jpg);
    background-size: cover;
    
    
    .overlay1
    {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        overflow: hidden;
    .sec5box
    {
       
        h1
        {
            color: #4286f4;
            font-family: Roboto Condensed;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;   
            padding-top: 50px;
            padding-bottom: 40px;
        }
        
        .special-box
        {
            .row
            {
                .col-lg-4
                {
                    .img-box
                    {
                        img
                        {
                            border-radius: 70%;
                            width: 70%;
                            border: 4px solid white;
                        }
                        :hover
                        {
                            cursor: pointer;
                        }
                    }
                    
                    .details
                    {
                        padding: 10px;
                        h2
                        {
                            color: #4286f4;
                            font-family: Roboto;
                            font-weight: bold;
                            text-align: center;
                            margin-top: 60px;
                        }
                        
                        p
                        {
                            font-family: Roboto;
                            font-size: 18px;
                            color: white;
                            text-align: center;
                            margin-bottom: 60px;
                        }
                    }
                }
            }
        }
    }
    }
}

#section6
{
    .sec6box
    {
        margin-bottom: 50px;
        h1
        {
            color: #4286f4;
            text-align: center;
            font-weight: bold;
            font-family: Roboto Condensed;
            padding-top: 50px;
            text-transform: uppercase;
            padding-bottom: 50px;
        }
        
        .team-box
        {
            margin-bottom: 90px;
            .row
            {
                .col-lg-3
                {
                    
                    .info
                    {
                        position: absolute;
                        width: 90%;
                        height: 0%;
                        background-color: rgba(0,0,0,0.3);
                        bottom: 0;
                        left: 0;
                        right: 0;
                        overflow: hidden;
                        transition: .5s all ease-in-out;
                        margin: auto;
                        a
                        {
                            text-decoration: none;
                            
                            position: relative;
                            top: 50%;
                            left: 12%;
                            transform: translate(-50%,-50%);
                            padding: 10px;
                         
                            text-align: center;
                            
                            li
                            {
                                list-style: none;
                                display: inline-block;
                                
                                i {
                                    width: 45px;
                                    height: 45px;
                                    border: 1px solid white;
                                    background-color: transparent;
                                    border-radius: 50%;
                                    font-size: 20px;
                                    color: white;
                                    line-height: 45px;
                                    
                                }
                                
                            }
                        }
                        :hover
                        {
                            transform: rotateZ(360deg);
                            transition: 1s all ease-in-out;
                        }
                    }
                }
                :hover .info
                {
                     height: 100%;
                }
            }
        }
    }
}

#section7
{
    width: 100%;
    background-image: url(../images/brian-chan-12168.jpg);
    background-size:cover;
    background-position: center;
    
    .sec7box
    {
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.3);
         overflow: hidden;
        
        h1
        {
            color: #4286f4;
            font-family: Roboto Condensed;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            padding-top: 50px;
        }
        
        .status-box
        {
            padding-top: 60px;
            padding-bottom: 80px;
            .row
            {
                .col-lg-3
                {
                    .icon
                    {
                        i
                        {
                            font-size: 50px;
                            color: white;
                            text-align: center;
                            padding-bottom: 30px;
                        }
                    }
                    
                    .numscroller
                    {
                        color: #4286f4;
                        font-size: 30px;
                        text-align: center;
                        font-weight: bolder;
                        padding-bottom: 20px;
                    }
                    
                    p
                    {
                        font-family: Roboto;
                        font-size: 18px;
                        text-align: center;
                        color: white;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

#section8
{
    
        h1
        {
            text-align: center;
            color: #4286f4;
            font-weight: bold;
            font-family: Roboto Condensed;
            padding-top: 50px;
            padding-bottom: 40px;
        }
        
        .row
        {
            width: 100%;
            margin-bottom: 90px;
            padding-bottom: 100px;
            
            
            #contact
            {
                background-image: url(../images/jakob-owens-169886.jpg);
                background-size: cover;
                height: 100%;
                
                form
                {
                    width: 70%;
                    height: 100%;
                    margin: auto;
                    padding-top: 45px;
                    padding-bottom: 50px;
                    
                    .form-group
                    {
                        label
                        {
                            color: white;
                        }
                        
                        #usr, #email, #comment
                        {
                            background-color: rgba(0,0,0,0.2);
                            border: 1px solid white;
                            color: white;
                        }
                    }
                    
                     #submit
                        {
                            width: 100%;
                            color: white;
                            text-align: center;
                            border-radius: 0px;
                            font-weight: bold;
                        }
                }
            }
        }
    
}

#section9
{
    width: 100%;
    background-color: gainsboro;
    position: relative;
    
    .container
    {
        width: 100%;
        height: auto;
        background-color:#31313f;
        color: white;
        
        
        h1
        {
            text-align: center;
            font-size: 20px;
            
            
        }
        
        .row
            {
                width: 100%;
                background-color: transparent;
                margin: auto;
                padding-top: 20px;
               
                
                .col-md-4
                {
                    
                    h1
                    {
                        font-weight: 600;
                    font-family: Roboto;
                    text-align: left;
                    color: #4286f4;
                        text-transform: uppercase;
                        font-size: 23px;
                    }
                    
                }
            }
        
        .row
        {
            .col-md-12
            {
                h1
                {
                    text-align: center;
                font-weight: bold;
                    color: #4286f4;
                    font-family: Roboto;
                    font-size: 24px;
                    text-transform: uppercase;
                }
                
                ul
                {
                    text-align: center;
                    li
                    {
                        list-style: none;
                        display: inline-block;
                        margin: 15px;
                        color: white;
                        
                        a
                        {
                            color: white;
                            text-decoration: none;
                            i
                            {
                                color: white;
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                                line-height: 50px;
                                text-align: center;
                                border: 1px solid white;
                                font-size: 20px;
                            
                            }
                            
                            
                        }
                        :hover
                            {
                                transform: rotatez(360deg);
                                transition: .5s all ease-in-out;
                                color: skyblue;
                            }
                        
                    }
                    
                }
            }
        }
        
        .copyright
        {
            p
            {
                color: white;
                text-align: center;font-family: Roboto;
        
            }
        }
    }
    
    #top
    {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #4286f4;
        color: white;
        font-weight: bold;
        text-align: center;
        bottom: 5%;
        right: 5%;
        position: fixed;
        font-size: 18px;
        line-height: 50px;

    }
}

#section9:before
{
    position:absolute;
    content: '';
    width: 100%;
    height: 80px;
    background: #31313f;
    top: -39px;
    left: 0;
    transform: skewY(-3deg);
}


