/*-------------- NAVIGATION BAR ------------------*/

#myNavbar
{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 9px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    background-color: white;
    border: none;
}

.navbar-collapse .nav li a:hover
{
    color: white;
    
}

.navbar-collapse .nav li:hover
{
    background-color: black;
    color: white;
}

#logo
{
    width: 100%;
    height: 60px;
    display: inline-block;
    margin-top: -22px;
}


/*-------------- HEADER ------------------*/

.header
{
    height: 610px;
    width: 100%;
    background-image: url(images/00032474.jpg);
    background-size: cover;
    background-position: center center;
    filter: blur(0.5px);
    margin-top: 50px;
    padding: 20p 0 0 20px;
    background-repeat: no-repeat;
}

.header img
{
    height: 350px;
    width: 750px;
    margin: 60px 0 0 0px;
    margin-left: -60px;
}

.header h1
{
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p, .header button
{
    margin-top: 20px;
    color: white;
}

.header .btn
{
    border-radius: 0;
    margin: 40px 40px;
}

.header .container .row
{
    margin-top: 60px;
}

@media(max-width:786px)
{
    .header
    {
        padding: 30px;
        height: 750px;
    }
    
    .header img
    {
        width: 100%;
        height: 150px;
        margin: 20px 0 0 20px;
    }
    
    .header .btn
    {
        margin: 20px 0 0 20px;
    }
    
    .header h1
    {
        text-align: center;
    }
}

@media(max-width:1020px)
{
    .header h1
    {
        text-align: center;
    }
    
    .header img
    {
        width: 100%;
    }
}

/*-------------- SERVICES ------------------*/

.services
{
    padding: 80px;
    text-align: center;
}

.services h2, .services h4
{
    color: #c2c2c2;
    margin: 20px 0 0 20px;
    padding-bottom: 20px;
}

.services h2
{
    color: black;
    font-size: 40px;
    font-weight:600;
    text-transform: uppercase;
    text-align: center
}

.services p
{
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}

.services i
{
    height: 80px;
    width: 80px;
    font-size: 30px;
    border-radius: 50%;
    color: white;
    background-color: cornflowerblue;
    line-height: 80px;
    
}

/*-------------- PRICING ------------------*/

.pricing
{
    background-color: teal;
    text-align: center;
    
}

.pricing .packages
{
    margin-bottom: 130px;
}

.pricing h2
{
    font-size: 40px;
    font-weight: 600;text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 70px;
}

.pricing h4, .pricing h1, .pricing h3
{
    color: white;
    margin-top: 30px;
}

.pricing h4
{
    padding-top: 40px;
}

.pricing p
{
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 4%;
}

.pricing .packages
{
    background-color: lightcoral;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

.pricing .btn
{
    margin-bottom: 40px;
}

/*-------------- TEAM ------------------*/

.team
{
    padding: 30px;
    text-align: center;
}

.team img
{
    height:200px;
    width: 200px;
}

.team .row
{
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 80px;
}

.team h3
{
    margin-top: 30px;
}

.team p
{
    margin-top: 20px;
}

.team h2
{
    color: black;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.team i
{
    height: 40px;
    width: 40px;
    background-color: darkcyan;
    border-radius: 50%;
    color: white;
    line-height: 40px;
    cursor: pointer;
    font-size: 20px;
}

@media(max-width:1000px)
{
    .team img
    {
        height: 150px;
        width: 150px;
    }
    
    .team i
    {
        margin-bottom: 50px;
    }
}

/*-------------- CLIENTS ------------------*/

.clients
{
    text-align: center;
    background-color: darksalmon;
}

.clients h2
{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;margin-top: 60px;
}

.clients p
{
   color: white;
    font-size: 18px;
    margin-top: 30px;
}
.clients img
{
    height: 200px;
    width: 200px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.clients .col-lg-3 img
{
    width: 50%;
    height: 50%;
    opacity: .8;
}

/*-------------- CONATCT ------------------*/

.contact
{
    text-align: center;
    padding: 40px;
}

.contact h2
{
    color: black;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}


 contact .box
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 400px;
            background-color: white;
            padding: 40px;
            box-sizing: border-box;
            border: 1px solid rgba(0,0,0,0.3);
            box-shadow: 0 5px 10px rgba(0,0,0,0.3);
            margin-bottom: 50px;
        }
        
       .contact .box h2
        {
            margin: 0 0 40px;
            padding: 0;
            color: #f7497d;
            text-transform: uppercase;
            text-align: center;
        }
        
         .contact .box input
        {
            padding: 10px 0;
            margin-bottom: 20px;
            border: none;
            outline: none;
        }
        
         .contact .box .input:hover
        {
            border-bottom: 2px solid pink;
        }
        
         .contact .box textarea
        {
            height: 80px;
            padding: 10px 0;
            margin-bottom: 40px;
            border: none;
            outline: none;
        }
        
        .contact .box input,   .contact .box textarea
        {
            width: 100%;
            box-sizing: border-box;
            box-shadow: none;
        }
        
        .contact .box input[type="submit"]
        {
            border-bottom: none;
            cursor: pointer;
            background: #f7497d;
            color: white;
            margin-bottom: 0;
            text-transform: uppercase;
            outline: none;
            border: none;
        }
        
         .contact .box form div
        {
            position: relative;
        }
        
         .contact .box form div label
        {
            position: absolute;
            top: 10px;
            left: 0;
            color: #999;
            transition: .5s;
            pointer-events: none;
        }
        
         .contact .box input:focus ~ label,  .contact .box textarea:focus ~ label,   .contact .box input:valid ~ label,   .contact .box textarea:valid ~ label
        {
            top: -12px;
            left: 0;
            color: #f7497d;
            font-size: 12px;
            font-weight: bold;
      
        }
        
        .contact  .box input:focus,   .contact .box textarea:focus ,  .contact .box input:valid ,   .contact .box textarea:valid
        {
            border-bottom: 2px solid #f7497d;
        }
        
.contact .alert
{
    display: none;
}

.box
{
    margin-top: 60px;
}


/*-------------- FOOTER ------------------*/

.footer
{
    background-color: dimgray;
    width: 100%;
    text-align: center;
    color: white;
}

.footer h2
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
    text-transform: uppercase;
}

.footer .row
{
    margin-top: 40px;
}

.footer h4
{
    font-weight: 700;
}

.footer .fa-facebook, .footer .fa-twitter, .footer .fa-youtube, .footer .fa-linkedin
{
    font-size: 40px;
    padding: 20px;
    cursor: pointer;
}

@media(max-width:786px)
{
    .footer .col-lg-4
    {
        margin-bottom: 50px;
    }
}